.full-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.password-input {
  input {
    -webkit-text-security: disc;
  }
}
.show-password {
  input {
  -webkit-text-security: unset;
  }
}
*{
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
  width:8px;
  height:5px;
}
::-webkit-scrollbar-button,::-webkit-scrollbar-track{
  display:none;
}
::-webkit-scrollbar-track-piece{
  background:hsla(0,0%,77%,.38);
}
::-webkit-scrollbar-thumb{
  background:hsla(0,0%,72%,.67);
  border-radius:10px;
}
.printbody {
  .print-title {
    margin-bottom: 20px;
    text-align: center;
  }
}
.mainbody,.printbody {
  .el-card__header {
    display: block;
    color: #858585;
    font-weight: bold;
    background-color: #f8f8f8;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    text-shadow: 0 1px #fff;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    font-size: 0.9em;
    line-height: 2.5em;
    text-transform: none;
    padding: 0 .75em;
    margin-bottom: 0;
    text-align: left;
  }
  #inputForm {
    label {
      float: none;
    }
    .form-item {
      padding: 0 20px;
    }
    .el-checkbox-group {
      .el-checkbox {
        margin-right: 30px;
        &+.el-checkbox {
          margin-left: 0;
        }
        &.select-all .el-checkbox__label{
          font-weight: bold;
        }
      }
    }
  }
  #resultTable {
    .el-card__body {
      padding: 0;
    }
    .tag {
      height: 20px;
      line-height: 20px;
    }
    .table {
      font-size: 14px;
      width: 100%;
      border-collapse: collapse;
      .text-left {
        text-align: left!important;
      }
      .text-title {
        text-align: center;
        font-weight: bold;
        background: #edfff0;
        height: 45px;
      }
      .centerAlign {
        text-align: center;
      }
      tr {
        th, td {
          padding: 8px 6px;
          border: 1px solid hsla(0,0%,72%,.17);
          .table-pan{
            width: 100%;
          }
          .color-r{
            color:  #e6a23c;
            background-color: rgba(64,158,255,.1);
            padding: 3px 10px;
            border-radius: 4px;
            border:1px solid rgba(64,158,255,.2);
          }
        }
      }
      .resultRows {
        border: 1px solid hsla(0,0%,72%,.17);
        .rows {
          line-height: 30px;
        }
      }
    }
    .ext-button {
      padding: 5px 10px;
    }
  }
}
.top-mar {
  position: absolute;
  top: 0px;
  right: 12%;
  color: #0000ff;
}

.xieyi-box{
  width: 95%;
  font-size: 14px;
  height: 300px;
  padding: 10px;
  overflow:scroll;
  overflow-x:hidden;
  p{
    line-height: 20px;
    margin-bottom: 5px;
  }
  h4{
    margin: 5px 0;
  }
  &::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
  }
  &::-webkit-scrollbar-track {/*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
  }
}